{{ if (or (eq .chezmoi.osRelease.name "Arch Linux ARM") (eq .chezmoi.osRelease.name "Arch Linux")) -}}
#!/bin/sh
sudo pacman -S --noconfirm --needed \
    {{- range .packages.arch.pacman -}}
    {{ . }} \
    {{- end }}

# Install yay
git clone https://aur.archlinux.org/yay.git /tmp/yay
cd /tmp/yay
makepkg -si
yay --noconfirm --answerdiff=None \
    {{- range .packages.arch.aur -}}
    {{ . }} \
    {{- end -}}

chsh -s /bin/zsh
{{ end -}}

