{{ if (or (eq .chezmoi.osRelease.name "Arch Linux ARM") (eq .chezmoi.osRelease.name "Arch Linux")) -}}
#!/bin/sh
sudo pacman -S --noconfirm --needed \
    {{- range .packages.arch.pacman -}}
    {{ . }} \
    {{- end -}}
